/*
UPTO COLORS:

MAGENTA: #ED1651    237 22 81
BLEU: #009A9A    0 154 154
ROSE: #EB0081    235 0 129
ORANGE: #F59200    245 146 0

AD
VERT: #009E93    0 158 147
FUSHIA: #D8107D    216 16 125

*/


/* ==== CAROUSEL ==== */

#events {
  margin-top: 100px;
  height: auto;
  /*min-height: 500px;*/
  /*background: rgba(0, 158, 147, 0.9);*/
  background: url('../images/logo/upto-background.jpg') no-repeat center 0;
  background-size: cover;
  color: white;
  text-align: center;
}
#events h1 {
  /*color: black;*/
  color: #009A9A;
  margin-bottom: 50px;
  font-weight: bolder;
}
#events p {
  /*color: black;*/
  text-shadow: 1px 1px black;
  /*, 0 1px black, 1px 0 black, 0 0px black;*/
}
#carousel {
  width: 100%;
  max-width: 900px;
  height: auto;
  /*height: 300px;*/
  margin: auto;
}
#carousel img {
  border: 3px solid white;
  width: 100%;
  height: 55%;
  /*width: 900px;
  height: 500px;
  margin: auto;*/
}
.carousel-control {
  background: none !important;
}
.carousel-control span {
  color: rgba(216, 16, 125, 1);
  !important;
  vertical-align: middle;
}

/*.left.carousel-control {
  transform: rotate(180deg) !important;
}*/


/* ==== END CAROUSEL ==== */


/* ==== PRESENTATION ==== */

#presentation {
  position: relative;
  height: auto;
  min-height: 500px;
  background: white;
  background-size: cover;
  color: white;
  text-align: center;
}
#presentation h1 {
  /*color: black;*/
  color: #009A9A;
  margin-bottom: 50px;
  font-weight: bolder;
}
#presentation p {
  color: black;
  /*color: black;*/
  /*text-shadow: 1px 1px black;*/
}
#presentation .infos {
  margin-top: 25px;
}
#presentation .infos div {
  text-align: left !important;
}
#presentation h2 {
  color: #D8107D;
  margin-bottom: 25px;
}
#presentation .infos div:last-child {
  border-left: 1px solid black;
}
#presentation .glyphicon.glyphicon-arrow-right {
  color: #D8107D;
}
#presentation button {
  color: #D8107D;
  height: 50px;
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* ==== END PRESENTATION ==== */


/* ==== NEWS ==== */

#news {
  height: auto;
  min-height: 500px;
  background: rgba(0, 158, 147, 0.9);
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}
#news h1 {
  /*color: black;*/
  color: white;
  margin-bottom: 50px;
  font-weight: bolder;
}
.new {
  margin-top: 25px;
}
.header-news {
  height: 100px;
  line-height: 100px;
}
.body-news {
  height: 420px;
}
.date-news {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
.date-news p {
  text-align: center !important;
  width: 100%;
}
.content-news {
  width: 74%;
  display: inline-block;
}
.content-news .logo-news {
  display: inline-block;
  width: 24%;
}
.logo-news img {
  width: 50px;
  height: auto;
  display: inline-block;
}
.content-news .title-news {
  display: inline-block;
  width: 74%;
  text-align: center;
  vertical-align: middle;
}
.logo-news {
  vertical-align: bottom !important;
  height: 100px;
  line-height: 100px;
}
.content-news p {
  margin-top: 10px;
}
.content-news p, .date-news p {
  text-align: left;
}
#news h2 {
  text-align: center;
}
#news .glyphicon-calendar {
  font-size: 3em;
  vertical-align: top;
}
#news2 {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#news button {
  color: rgba(0, 158, 147, 0.9);
  height: 50px;
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 25px;
}
#news .glyphicon-triangle-right {}

/* ==== END NEWS ==== */


/* ==== TRAINING ==== */

#training {
  height: auto;
  min-height: 500px;
  background: white;
  background-size: cover;
  color: black;
  position: relative;
  text-align: center;
}
#training h1 {
  /*color: black;*/
  color: #009A9A;
  margin-bottom: 50px;
  font-weight: bolder;
}
#training h2 {
  color: #D8107D;
  margin-bottom: 25px;
}
#training .goal {
  margin-bottom: 25px;
}
#training .goals img {
  width: 100px;
  height: auto;
}
#training .goals hr {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 3px dotted #009A9A;
}
#training .logo-interest, .content-interest {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
#training .logo-interest {
  width: 24%;
}
#training .content-interest {
  width: 75%;
  padding-left: 10px;
}
#training .interests img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
#training .interest h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  color: blue;
}
#training .interest hr {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 3px dotted #009A9A;
}
#my-coverflow h2 {
  margin-bottom: 0px !important;
}
#training button {
  color: #D8107D;
  height: 50px;
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* ==== END TRAINING ==== */


/* ==== PARTNERS ==== */

#partners {
  height: auto;
  min-height: 500px;
  background: rgba(0, 158, 147, 0.9);
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}
#partners h1 {
  /*color: black;*/
  color: white;
  margin-bottom: 50px;
  font-weight: bolder;
}

#all-partners {
  width: 100%;
  height: 600px;
  /*background-color: yellow;*/
  overflow: hidden;
}

#all-partners .move-left,  #all-partners .move-right {
  width: 912px;
  background-color: #ED1651;
  min-height: 100px;
}

 #all-partners .logo {
  width: 228px;
  /*background-color: blue;*/
}

.partner {
  text-align: left;
  width: 200%;
  overflow: hidden;
  min-height: 100px;
  margin-top: 20px;
}

.partner div {
  display: inline-block;
  vertical-align: top;
}

.hidden-bloc {
  background-color: green !important;
  opacity: 0;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid #ED1651;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #ED1651;
}

#all-partners .logo div {
  display: inline-block;
  vertical-align: middle;
}

#all-partners .name {
  /* Default 228 (logo width) - 50 (arrow width)*/
  width: 178px;
  /* Default arrow heigth */
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #ED1651;
  text-transform: uppercase;
}

#all-partners .text {
  text-align: center;
}

#partners img {
  width: 100%;
  height: auto;
}

#partners button {
  color: rgba(0, 158, 147, 0.9);
  height: 50px;
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  left: 2%;
}

/* ==== END PARTNERS ==== */


/* ==== CONTACT ==== */

#contact {
  height: auto;
  min-height: 500px;
  background: white;
  background-size: cover;
  color: black;
  text-align: center;
  position: relative;
}
#contact h1 {
  /*color: black;*/
  color: #009A9A;
  margin-bottom: 50px;
  font-weight: bolder;
}
#contact h2 {
  color: #D8107D;
}
#contact p {
  /*color: black;*/
  /*text-shadow: 1px 1px black; /*, 0 1px black, 1px 0 black, 0 0px black;*/
  */
}
#contact form {
  text-align: left;
}
#contact p, #contact form {
  padding-top: 25px;
}
#contact textarea {
  resize: none;
}
#contact button {
  background-color: #D8107D;
  color: white;
}

/* ==== TRIANGLE  ==== */

#partners img.triangle2, img.triangle2 {
  position: absolute;
  width: 65px;
  top: -2px;
  left: calc(50% - 25px);
}
footer {
  position: relative;
  padding-top: 50px;
}

/* ==== END CONTACT ==== */


/* RESPONSIVE */

@media (max-width: 768px) {
  #presentation .infos div:last-child {
    border-left: none;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 1200px) {
  #news2 {
    border: none;
  }
  .body-news {
    height: auto;
  }

}
@media (min-width: 768px) {
  nav {
    margin: 0 !important;
    border-radius: 0 !important;
    /*background-color: yellow;*/
    min-height: 77px !important;
    background-color: white !important;
  }
  .navbar-nav li a {
    font-size: 1.2em;
    width: 105px;
    height: 77px;
    line-height: 77px;
    color: #009A9A  !important;
    text-align: center;
    padding: 0px;
  }
  .navbar-header {
    min-height: 66px !important;
  }
  header img {
    height: 77px;
    width: auto;
    display: inline-block !important;
  }
}
