/*
UPTO COLORS:

MAGENTA: #ED1651    237 22 81
BLEU: #009A9A    0 154 154
ROSE: #EB0081    235 0 129
ORANGE: #F59200    245 146 0

AD
VERT: #009E93    0 158 147
FUSHIA: #D8107D    216 16 125

*/

/* ==== CAROUSEL ==== */

#events {
  margin-top: 100px;
  height: auto;
  /*min-height: 500px;*/
  /*background: rgba(0, 158, 147, 0.9);*/
  background: url('../images/logo/upto-background.jpg') no-repeat center 0;
  background-size: cover;
  color: white;
  text-align: center;
}

#events h1 {
  /*color: black;*/
  color: #009A9A;
  margin-bottom: 50px;
  font-weight: bolder;
}

#events p {
  /*color: black;*/
  text-shadow: 1px 1px black; /*, 0 1px black, 1px 0 black, 0 0px black;*/
}

#carousel {
  width: 100%;
  max-width: 900px;
  height: auto;
  /*height: 300px;*/
  margin: auto;
}

#carousel img {
  border: 3px solid white;
  width: 100%;
  height: 55%;
  /*width: 900px;
  height: 500px;
  margin: auto;*/
}

.carousel-control {
  background: none !important;
}

.carousel-control span {
  color: rgba(216, 16, 125, 1); !important;
  vertical-align: middle;
}

/*.left.carousel-control {
  transform: rotate(180deg) !important;
}*/

/* ==== END CAROUSEL ==== */

/* ==== PRESENTATION ==== */

#presentation {
  height: auto;
  min-height: 500px;
  background: white;
  background-size: cover;
  color: white;
  text-align: center;
}

#presentation h1 {
  /*color: black;*/
  color: #009A9A;
  margin-bottom: 50px;
  font-weight: bolder;
}

#presentation p {
  color: black;
  /*color: black;*/
  /*text-shadow: 1px 1px black;*/
}

#presentation .infos {
  margin-top: 25px;
}

#presentation .infos div {
  text-align: left !important;
}

#presentation h2 {
  color: #D8107D;
  margin-bottom: 25px;
}

#presentation .infos div:last-child {
  border-left: 1px solid black;
}

#presentation .glyphicon.glyphicon-arrow-right {
  color: #D8107D;
}

/* ==== END PRESENTATION ==== */

/* ==== NEWS ==== */

#news {
  height: auto;
  min-height: 500px;
  background: rgba(0, 158, 147, 0.9);
  background-size: cover;
  color: white;
  text-align: center;
}

#news h1 {
  /*color: black;*/
  color: white;
  margin-bottom: 50px;
  font-weight: bolder;
}

#subtitle-news {
  margin-bottom: 25px;
}

.header-news {
  height: 100px;
}

.body-news {
  height: 420px;
}

.date-news {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.date-news p {
  text-align: center !important;
  width: 100%;
}

.content-news {
  width: 74%;
  display: inline-block;
}

.content-news .logo-news {
  display: inline-block;
  width: 24%;
}

.logo-news img {
  width: 50px;
  height: auto;
}

.content-news .title-news {
  display: inline-block;
  width: 74%;
  vertical-align: middle;
}

.content-news p {
  margin-top: 10px;
}

.content-news p, .date-news p {
  text-align: left;
}

#news h2 {
  text-align: left;
}

#news .glyphicon.glyphicon-calendar {
  font-size: 3em;
  vertical-align: top;
}

#news2 {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* ==== END NEWS ==== */

/* ==== TRAINING ==== */

#training {
  height: auto;
  min-height: 500px;
  background: white;
  background-size: cover;
  color: white;
  text-align: center;
}

#training h1 {
  /*color: black;*/
  color: #009A9A;
  margin-bottom: 50px;
  font-weight: bolder;
}

#training p {
  color: black;
  font-family: 'DIN-Regular';
  /*rgba(216, 16, 125, 0.8);*/
  /*text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);*/
}

/* ==== END TRAINING ==== */

/* ==== PARTNERS ==== */

#partners {
  height: auto;
  min-height: 500px;
  background: rgba(0, 158, 147, 0.9);
  background-size: cover;
  color: white;
  text-align: center;
}

#partners h1 {
  /*color: black;*/
  color: white;
  margin-bottom: 50px;
  font-weight: bolder;
}

#partners p {
  /*color: black;*/
  text-shadow: 1px 1px black; /*, 0 1px black, 1px 0 black, 0 0px black;*/
}

/* ==== END PARTNERS ==== */

/* ==== CONTACT ==== */

#contact {
  height: auto;
  min-height: 500px;
  background: white;
  background-size: cover;
  color: white;
  text-align: center;
}

#contact h1 {
  /*color: black;*/
  color: #009A9A;
  margin-bottom: 50px;
  font-weight: bolder;
}

#contact p {
  /*color: black;*/
  text-shadow: 1px 1px black; /*, 0 1px black, 1px 0 black, 0 0px black;*/
}

/* ==== END CONTACT ==== */

/* RESPONSIVE */
@media (max-width: 768px) {
  #presentation .infos div:last-child {
    border-left: none;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
